In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/name_basics.tsv",sep='\t')
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0031983,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0049189,tt0054452,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0083922,tt0050986,tt0069467"

In [25]:
df1= pd.read_csv("./data/title_basics.tsv",sep='\t')
df= pd.read_csv("./data/title_rating.tsv",sep='\t')
df2 = df1.merge(df,how = 'inner',on='tconst')

In [ ]:
df= pd.read_csv("./data/title_akas.tsv",sep='\t')
df = df.groupby(by="titleId").count()
df.reset_index(inplace=True)
df=df[['titleId','language']]
df= df.rename(columns={'titleId':'tconst'})
df2 = df2.merge(df, how = 'left', on = 'tconst')

In [58]:
df= pd.read_csv("./data/title_crew.tsv",sep='\t')
df2 =df2.merge(df,how='left',on='tconst')

In [65]:
df= pd.read_csv("./data/title_episode.tsv",sep='\t')
df2=df2.merge(df,how='left',on='tconst')

In [67]:
df2.to_csv('./data.csv',index=False)

In [102]:
#replace NA , \N
df2.parentTconst.fillna("movie",inplace=True)
df2.seasonNumber.fillna(0,inplace=True)
df2.seasonNumber.replace(r"\\N",0,regex=True,inplace=True)
df2.episodeNumber.replace(r"\\N",0,regex=True,inplace=True)
df2.episodeNumber.fillna(0,inplace=True)
df2.writers.replace(r"\\N","unknown",regex=True,inplace=True)
df2.directors.replace(r"\\N","unknown",regex=True,inplace=True)
df2.language.fillna(1,inplace=True)
df2.genres.replace(r"\\N","unknown",regex=True,inplace=True)
df2.runtimeMinutes.replace(r"\\N",0,regex=True,inplace=True)
df2.endYear.replace(r"\\N",0,regex=True,inplace=True)
df2.startYear.replace(r"\\N",0,regex=True,inplace=True)
df2.runtimeMinutes.replace("Game-Show,Reality-TV",0,inplace=True)
df2.runtimeMinutes.replace("Game-Show",0,inplace=True)
df2.runtimeMinutes=pd.to_numeric(df2.runtimeMinutes)
#convert data type
df2.isAdult=pd.to_numeric(df2.isAdult)
df2.startYear=pd.to_numeric(df2.startYear)
df2.endYear=pd.to_numeric(df2.endYear)
df2.seasonNumber=pd.to_numeric(df2.seasonNumber)
df2.episodeNumber=pd.to_numeric(df2.episodeNumber)
df2

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,language,directors,writers,parentTconst,seasonNumber,episodeNumber
0,tt0000001,short,Carmencita,Carmencita,0,1894,0,1,"Documentary,Short",5.7,1914,8.0,nm0005690,unknown,movie,0,0
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,0,5,"Animation,Short",5.8,259,8.0,nm0721526,unknown,movie,0,0
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,0,4,"Animation,Comedy,Romance",6.5,1720,9.0,nm0721526,unknown,movie,0,0
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,0,12,"Animation,Short",5.6,172,8.0,nm0721526,unknown,movie,0,0
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,0,1,"Comedy,Short",6.2,2536,12.0,nm0005690,unknown,movie,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263401,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012,0,10,"Adventure,Animation,Comedy",6.5,6,1.0,nm0996406,"nm1482639,nm2586970",tt0985991,3,47
1263402,tt9916720,short,The Nun 2,The Nun 2,0,2019,0,10,"Comedy,Horror,Mystery",5.3,262,14.0,nm10538600,unknown,movie,0,0
1263403,tt9916730,movie,6 Gunn,6 Gunn,0,2017,0,116,unknown,8.4,6,1.0,nm10538612,nm10538612,movie,0,0
1263404,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,0,43,"Family,Game-Show,Reality-TV",6.8,21,7.0,unknown,unknown,tt1442550,10,15
1263405,tt9916778,tvEpisode,Escape,Escape,0,2019,0,0,"Crime,Drama,Mystery",7.2,35,1.0,unknown,unknown,tt9595170,1,3

In [69]:
df1= pd.read_csv("./data/title_principals.tsv",sep='\t')

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [77]:
df1.loc[(df1['category']=='actress') | (df1['category']=='actor'),:]

,tconst,ordering,nconst,category,job,characters
11,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
12,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]"
16,tt0000007,1,nm0179163,actor,\N,\N
17,tt0000007,2,nm0183947,actor,\N,\N
21,tt0000008,1,nm0653028,actor,\N,"[""Sneezing Man""]"
...,...,...,...,...,...,...
52370233,tt9916856,4,nm10538647,actress,\N,"[""Kathi""]"
52370238,tt9916880,1,nm1483166,actor,\N,"[""Rude Ralph"",""Mischievous Mike"",""Jolly Josh""]"
52370239,tt9916880,2,nm0254176,actress,\N,"[""Moody Margaret""]"
52370240,tt9916880,3,nm0286175,actor,\N,"[""Dad"",""Aerobic Al"",""Nasty Nicola""]"
52370241,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"

In [79]:
df1['category'].unique()

array(['self', 'director', 'cinematographer', 'composer', 'producer',
       'editor', 'actor', 'actress', 'writer', 'production_designer',
       'archive_footage', 'archive_sound'], dtype=object)

In [72]:
df1

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
52370241,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
52370242,tt9916880,5,nm0996406,director,principal director,\N
52370243,tt9916880,6,nm1482639,writer,\N,\N
52370244,tt9916880,7,nm2586970,writer,books,\N
52370245,tt9916880,8,nm1594058,producer,producer,\N